doctype html
html(lang='es')
	head
		title ✦‿✦ FMI Merge
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='HTML5 website template')
		meta(name='keywords', content='global, template, html, sass, jquery')
		meta(name='author', content='45rpm')
		link(rel="stylesheet" href="css/main.min.css")
	
	body
		
		.wrapper-scroll

			include ./includes/_header.pug

			main

				section.content-block.hero-contact
					
					.center-container

						.text-side
							
							h1 
								|Contact Us

							.separator
								
							p You're not my eater I'm not your food Love you for God Love you for the Mother, You're not my eater I'm not your food Love you for God Love you for the Mother I'm not your food Love

							
						
				section.content-block.contact-section

					.center-container

						.contact-content

							form(method='post', action='', accept-charset='UTF-8', autocomplete='off')

								p.message

								.left-form

									.single-input
									
										input(placeholder='Name*', type='text', name='fromName')

									.single-input
										input(type='tel', placeholder='Telephone*', name='fromTel')
								
									.single-input
										
										input(type='email', placeholder='Email*', name='fromEmail')

									.single-input
									
										input(placeholder='Company*', type='text', name='fromName')
										
									
									

								.right-form

									.single-input

										select.select
											option(value='volvo') Volvo
											option(value='saab') Saab
											option(value='mercedes') Mercedes
											option(value='audi') Audi

									.single-input
									
										textarea(placeholder='Message', name='message[body]')
								
									.single-input.submit
											
										button.cta.purple(type='submit', placeholder='Submit')
											|Submit


				
							
			include ./includes/_footer.pug
			

		script(src='js/bundle.min.js')



