doctype html
html(lang='en')
	head
		title ✦‿✦ Nandos
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='HTML5 website template')
		meta(name='keywords', content='global, template, html, sass, jquery')
		meta(name='author', content='45rpm')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700")
		link(rel="stylesheet" href="css/main.min.css")
	
	body
		
		.wrapper-scroll

			include ./includes/_header-cx.pug

			main
 
				article.content-block.hero-block
					.content.content-left
						h1 Build agile teams and collaborative workplaces with atlassian
						p Let Modus Create deploy Atlassian Jira, Confluence, and Bitbucket to get you there faster.

						.cta-wrapper
							a(href="#").cta.red
								|Get in Touch

				.tools-for-teams-overlayer

				article.content-block.tools-for-teams
					.content
						.header
							h2 Atlassian tools for teams
							p Modus Creates work with your teams to get Atlassian implemented and integrated to drive agile development, get dispersed teams working collaborately, and accelerate product and software development.

						.body
							ul
								li
									.title
										img(src="assets/img/jira.png", alt="Jira")
									.content
										p Plan, track, and release world-class software with the #1 software development tool used by agile teams.
								li
									.title
										img(src="assets/img/confluence.png", alt="Confluence")
									.content
										p Spend more time getting things done. Organize your work, create documents, and discuss everthing in one place.
								li
									.title
										img(src="assets/img/trello.png", alt="Trello")
									.content
										p Collaborate and get more done. Trello boards enable your team to organize projects in a fun, flexible, and visual way.
								li
									.title
										img(src="assets/img/bitbucket.png", alt="Bitbucket")
									.content
										p Collaborate on code and manage yout Git repositories to build and ship software, as team.

				article.content-block.atlassian-benefits
					.center-container

						h2 ATLASSIAN BENEFITS

						p Atlassian offers a robust set of tools to plan for complex challenges, communicate with distributed teams, and collaboratively build products that solve real-world problems. From Confluence to Jira to Bitbucket, Atlassian apps facilitate teamwork.

						ul 
							li 

								img( src="/assets/img/why-4.svg" alt="ok")

								h3 Organization

								p Plan, track, and deploy against complicated design-build tasks.

							li 

								img( src="/assets/img/why-4.svg" alt="ok")

								h3 Colaboration

								p Improve project workflows, give multiple stakeholders visibility, and unite teams.

							li 

								img( src="/assets/img/why-4.svg" alt="ok")

								h3 Automation

								p Make the tools work for you and your team by streamlining and securing passthrough of requirements, workflows, and notifications.

						.cta-wrapper
							.cta.red
								|GET IN TOUCH
				
				article.content-block.gold-solution-block
					.container

						.left-side
							.content
								h2 Your Atlassian GOLD Solution Partner
								p Modus provides a full range of services to ensure your organization has standardized workflows and staying aligned along the way. From implementing highly optimized software to providing training in Confluence & Jira for rapid adoption within the organization.

						.right-side.text-container

							.info-item

								h4.blue EXPERT 
								h3 LICENSING
								ul.blue
									li Co-terming Licenses
									li Licensing Consolidation & Renewables
									li Licensing Consultation

							.info-item

								h4.salmon EXPERT 
								h3 ENABLEMENT
								ul.salmon
									li Co-terming Licenses
									li Licensing Consolida
									li Licensing Consultation

							.info-item

								h4.yellow EXPERT 
								h3 CONSULTING
								ul.yellow
									li Co-terming Licenses
									li Licensing Consolid
									li Licensing Consultat


				article.content-block.winning-together-block
					.center-container

						.left-image 

							img(src="assets/img/image-hero.svg", alt="")

						.right-text

							h2 WINNING TOGETHER

							p As a global team, we know the importance of collaborative information sharing. With our extensive experience and expertise, we make maximizing your Atlassian tools for your teams simple. Let Modus lead you on your journey to becoming truly agile. Together we will change the way your enterprise communicates and operates.
			

				article.content-block.atlassian-benefits.how-we-work
					.center-container

						h2 HOW WE WORK

						ul.colors
							li 
								.circle.salmon

								h3 Organization

								p Plan, track, and deploy against complicated design-build tasks.

							li 
								.circle.yellow

								h3 Colaboration

								p Improve project workflows, give multiple stakeholders visibility, and unite teams.

							li 
								.circle.blue

								h3 Automation

								p Make the tools work for you and your team by streamlining and securing passthrough of requirements, workflows, and notifications.

						.cta-wrapper
							.cta.red
								|GET IN TOUCH

				article.content-block.banner-block
					.center-container

						h4 BUILD AN
						h2 Efficient and Collaborative Team

						.cta-wrapper
							a.cta.black(href="#")
								|GET IN TOUCH

				article.success-stories
					.center-container

						h2 Success stories

						.optimize
							.image
								img(src="assets/img/SuccessStory1.png", alt="")

							.content
								h3 Eliminating waste to optimize workflows

								h4 Challenge
								p A security consulting firm wanted to eliminate their wasted created by complex spreadsheets and multiple document storage systems. As well as, develop an efficient way to reduce many of their repeatable process.

								h4 Solution
								p Modus did a Configuration Jumpstart with fresh instances of Jira Software, Jira Service Desk, and Confluence customized to the client's needs. Then translated those needs to Atlassian structure of projects and spaces, workflows, custom fields, and apps.
							
							.overlayer

						.knowledge
							.content
								h3 Unleashing the power of knowledge & sharing

								h4 Challenge
								p One of the largest online retailers needed a single system of truth for their knowledge base and team collaboration. Ther were multiple applications in-house already, but none that were ready to support their unique requirements for organization, search, and ease of use.

								h4 Solution
								p Modus provided an Atlassian Expert and Technical Architect to help the client migrate and update from Cofluence Server to Data Center to support their 20,000 users. We implemented best practices in configuration, administration, and governance, as wel as delivereing assets such as custom, reusable templates, and end-user training. Resulting in a highly-available, reliable, and scalable knowledge management system customized for the client's needs.

							.image
								img(src="assets/img/SuccessStory2.png", alt="")
							
							.overlayer

				article.content-block.insights-block
					.center-container

						h2 Insights

						.list-insights
							
							a.insight-item(href="#")
								figure(style="background-image: url('assets/img/mobile-desktop-image.svg');")
									.tag Atlassian

								h4 Top Announcements from Atlassian Summit 2019

								p The Modus team had a great experience at the 2019 Atlassian Summit. The event's presentations and break out sessions revealed some of the exciting new features coming to the Atlassian tool suite. Check out our list of the most interesting announcements from the 2019 summit!


							.insight-item
								figure(style="background-image: url('assets/img/packaging.jpg');")
									.tag Atlassian

								h4 Confluence, ScriptRunner and Impersonation

								p Looking to securely access Confluence data as a specific user in external apps? We’ve done this with custom REST endpoints in ScriptRunner. Learn how to do this yourself in this step-by-step guide!



				article.content-block.winning-together-block
					.center-container

						.left-image 

							img(src="assets/img/image-hero.svg", alt="")

						.right-text

							h2 WINNING TOGETHER

							p As a global team, we know the importance of collaborative information sharing. With our extensive experience and expertise, we make maximizing your Atlassian tools for your teams simple. Let Modus lead you on your journey to becoming truly agile. Together we will change the way your enterprise communicates and operates.
			
				article.content-block.contact-block
					.center-container

						.left-text

							h2 About Modus

							p Modus Create accelerates digital transformation with consulting and product development services. No matter where you are in your journey or where you’re looking to go, our research-driven approach and startup mindset will help you get there faster.

						.right-form
							<div class="right-form">
								
								<span id="hs_cos_wrapper_module_1556694232656555_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_form" style="" data-hs-cos-general-type="widget" data-hs-cos-type="form">
								<h3 id="hs_cos_wrapper_form_875713578_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text">LET'S TALK
									
								</h3>

							<div id="hs_form_target_form_875713578">
							<form novalidate="" accept-charset="UTF-8" action="https://forms.hsforms.com/submissions/v3/public/submit/formsnext/multipart/1907998/33214205-4525-4ee2-aa2e-b4200164f584" enctype="multipart/form-data" id="hsForm_33214205-4525-4ee2-aa2e-b4200164f584_34" method="POST" class="hs-form stacked hs-custom-form hs-form-private hs-form-33214205-4525-4ee2-aa2e-b4200164f584_f7c54b6d-be20-4d1e-b3ef-2b43dde28afc" data-form-id="33214205-4525-4ee2-aa2e-b4200164f584" data-portal-id="1907998" target="target_iframe_33214205-4525-4ee2-aa2e-b4200164f584_34" data-reactid=".hbspt-forms-0"><div class="hs_firstname hs-firstname hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1:$0"><label id="label-firstname-33214205-4525-4ee2-aa2e-b4200164f584_34" class="" placeholder="Enter your First name" for="firstname-33214205-4525-4ee2-aa2e-b4200164f584_34" data-reactid=".hbspt-forms-0.1:$0.0"><span data-reactid=".hbspt-forms-0.1:$0.0.0">First name</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1:$0.0.1">*</span></label>
								<legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1:$0.1"></legend>
								<div class="input" data-reactid=".hbspt-forms-0.1:$0.$firstname">
									<input id="firstname-33214205-4525-4ee2-aa2e-b4200164f584_34" class="hs-input" type="text" name="firstname" required="" value="" placeholder="First Name*" autocomplete="given-name" data-reactid=".hbspt-forms-0.1:$0.$firstname.0" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
								</div>
							</div>
							<div class="hs_lastname hs-lastname hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1:$1">
								<label id="label-lastname-33214205-4525-4ee2-aa2e-b4200164f584_34" class="" placeholder="Enter your Last name" for="lastname-33214205-4525-4ee2-aa2e-b4200164f584_34" data-reactid=".hbspt-forms-0.1:$1.0"><span data-reactid=".hbspt-forms-0.1:$1.0.0">Last name</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1:$1.0.1">*</span></label>
								<legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1:$1.1"></legend>
								<div class="input" data-reactid=".hbspt-forms-0.1:$1.$lastname">
									<input id="lastname-33214205-4525-4ee2-aa2e-b4200164f584_34" class="hs-input" type="text" name="lastname" required="" value="" placeholder="Last Name*" autocomplete="family-name" data-reactid=".hbspt-forms-0.1:$1.$lastname.0">
								</div>
							</div>
							<div class="hs_jobtitle hs-jobtitle hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1:$2">
								<label id="label-jobtitle-33214205-4525-4ee2-aa2e-b4200164f584_34" class="" placeholder="Enter your Job Title" for="jobtitle-33214205-4525-4ee2-aa2e-b4200164f584_34" data-reactid=".hbspt-forms-0.1:$2.0"><span data-reactid=".hbspt-forms-0.1:$2.0.0">Job Title</span></label>
								<legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1:$2.1"></legend>
								<div class="input" data-reactid=".hbspt-forms-0.1:$2.$jobtitle">
									<input id="jobtitle-33214205-4525-4ee2-aa2e-b4200164f584_34" class="hs-input" type="text" name="jobtitle" value="" placeholder="Job Title*" autocomplete="organization-title" data-reactid=".hbspt-forms-0.1:$2.$jobtitle.0">
								</div>
							</div>
							<div class="hs_email hs-email hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1:$3">
								<label id="label-email-33214205-4525-4ee2-aa2e-b4200164f584_34" class="" placeholder="Enter your Email" for="email-33214205-4525-4ee2-aa2e-b4200164f584_34" data-reactid=".hbspt-forms-0.1:$3.0"><span data-reactid=".hbspt-forms-0.1:$3.0.0">Email</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1:$3.0.1">*</span></label>
								<legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1:$3.1"></legend>
								<div class="input" data-reactid=".hbspt-forms-0.1:$3.$email">
									<input id="email-33214205-4525-4ee2-aa2e-b4200164f584_34" class="hs-input" type="email" name="email" required="" placeholder="Email Address*" value="" autocomplete="email" data-reactid=".hbspt-forms-0.1:$3.$email.0">
								</div>
							</div>
							<div class="hs_company hs-company hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1:$4">
								<label id="label-company-33214205-4525-4ee2-aa2e-b4200164f584_34" class="" placeholder="Enter your Company name" for="company-33214205-4525-4ee2-aa2e-b4200164f584_34" data-reactid=".hbspt-forms-0.1:$4.0"><span data-reactid=".hbspt-forms-0.1:$4.0.0">Company name</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1:$4.0.1">*</span></label>
								<legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1:$4.1"></legend>
								<div class="input" data-reactid=".hbspt-forms-0.1:$4.$company">
									<input id="company-33214205-4525-4ee2-aa2e-b4200164f584_34" class="hs-input" type="text" name="company" required="" value="" placeholder="Company Name*" autocomplete="organization" data-reactid=".hbspt-forms-0.1:$4.$company.0">
								</div>
							</div>
							<div class="hs_type_of_project hs-type_of_project hs-fieldtype-select field hs-form-field" data-reactid=".hbspt-forms-0.1:$5">
								<label id="label-type_of_project-33214205-4525-4ee2-aa2e-b4200164f584_34" class="" placeholder="Enter your Type of Project" for="type_of_project-33214205-4525-4ee2-aa2e-b4200164f584_34" data-reactid=".hbspt-forms-0.1:$5.0"><span data-reactid=".hbspt-forms-0.1:$5.0.0">Type of Project</span></label>
								<legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1:$5.1"></legend>
								<div class="input" data-reactid=".hbspt-forms-0.1:$5.$type_of_project">
									<select id="type_of_project-33214205-4525-4ee2-aa2e-b4200164f584_34" class="hs-input" name="type_of_project" data-reactid=".hbspt-forms-0.1:$5.$type_of_project.0">
										<option value="" disabled="" selected="" data-reactid=".hbspt-forms-0.1:$5.$type_of_project.0.0">Type of Project</option>
										<option value="Project Rescue" data-reactid=".hbspt-forms-0.1:$5.$type_of_project.0.1:$Project Rescue">Project Rescue</option>
										<option value="Greenfield" data-reactid=".hbspt-forms-0.1:$5.$type_of_project.0.1:$Greenfield">Greenfield</option>
										<option value="App Modernization" data-reactid=".hbspt-forms-0.1:$5.$type_of_project.0.1:$App Modernization">App Modernization</option>
									</select>
								</div>
							</div>
							<div class="hs_message hs-message hs-fieldtype-textarea field hs-form-field" data-reactid=".hbspt-forms-0.1:$6">
								<label id="label-message-33214205-4525-4ee2-aa2e-b4200164f584_34" class="" placeholder="Enter your Message" for="message-33214205-4525-4ee2-aa2e-b4200164f584_34" data-reactid=".hbspt-forms-0.1:$6.0"><span data-reactid=".hbspt-forms-0.1:$6.0.0">Message</span></label>
								<legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1:$6.1"></legend>
								<div class="input" data-reactid=".hbspt-forms-0.1:$6.$message">
									<textarea id="message-33214205-4525-4ee2-aa2e-b4200164f584_34" class="hs-input" name="message" placeholder="How can we help?" data-reactid=".hbspt-forms-0.1:$6.$message.0"></textarea>
								</div>
							</div>
							<noscript data-reactid=".hbspt-forms-0.2"></noscript>
							<div class="hs_recaptcha hs-recaptcha field hs-form-field" data-reactid=".hbspt-forms-0.3">
								<div class="input" data-reactid=".hbspt-forms-0.3.0">
									<div class="grecaptcha-badge" data-style="inline" style="width: 256px; height: 60px; box-shadow: gray 0px 0px 5px;">
										<div class="grecaptcha-logo">
											<iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6Lc2_RsUAAAAAAYBSd4rxsgeQz7whuL9COCsHeET&amp;co=aHR0cDovL2h1YnNwb3QubW9kdXNjcmVhdGUuY29tOjgw&amp;hl=es&amp;v=v1555968629716&amp;size=invisible&amp;badge=inline&amp;cb=bizdgsstdez7" width="256" height="60" role="presentation" name="a-w9gqvqivlz30" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
										</div>
										<div class="grecaptcha-error"></div>
										<textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
									</div>
								</div>
								<input type="hidden" name="g-recaptcha-response" id="hs-recaptcha-response" value="" data-reactid=".hbspt-forms-0.3.1">
							</div>
							<div class="hs_submit hs-submit" data-reactid=".hbspt-forms-0.5">
								<div class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.5.0"></div>
								<div class="actions" data-reactid=".hbspt-forms-0.5.1">
									<input type="submit" value="GET IN TOUCH" class="hs-button primary large" data-reactid=".hbspt-forms-0.5.1.0">
								</div>
							</div>
							<noscript data-reactid=".hbspt-forms-0.6"></noscript>
							<input name="hs_context" type="hidden" value="{&quot;rumScriptExecuteTime&quot;:2112.9599999985658,&quot;rumServiceResponseTime&quot;:4373.305000000983,&quot;rumFormRenderTime&quot;:2.3250000085681677,&quot;rumTotalRenderTime&quot;:4378.544999999576,&quot;rumTotalRequestTime&quot;:2258.0400000006193,&quot;lang&quot;:&quot;en&quot;,&quot;pageUrl&quot;:&quot;http://hubspot.moduscreate.com/-temporary-slug-9db6bb66-b4bf-42d6-97fe-56441ebf39d8?hs_preview=XWwWRyeO-9244676001#&quot;,&quot;source&quot;:&quot;FormsNext-static-3.270&quot;,&quot;timestamp&quot;:1557195140677,&quot;userAgent&quot;:&quot;Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.103 Mobile Safari/537.36&quot;,&quot;originalEmbedContext&quot;:{&quot;formsBaseUrl&quot;:&quot;/_hcms/forms/&quot;,&quot;portalId&quot;:&quot;1907998&quot;,&quot;formId&quot;:&quot;33214205-4525-4ee2-aa2e-b4200164f584&quot;,&quot;formInstanceId&quot;:&quot;34&quot;,&quot;pageId&quot;:&quot;9244676001&quot;,&quot;inlineMessage&quot;:true,&quot;rawInlineMessage&quot;:&quot;Thanks for submitting the form.&quot;,&quot;hsFormKey&quot;:&quot;1cc385500f8c750e0edb4128fcbfe3b0&quot;,&quot;deactivateSmartForm&quot;:true,&quot;target&quot;:&quot;#hs_form_target_form_875713578&quot;,&quot;contentType&quot;:&quot;landing-page&quot;,&quot;formData&quot;:{&quot;cssClass&quot;:&quot;hs-form stacked hs-custom-form&quot;},&quot;hutk&quot;:&quot;895bad69eeb6622831782872707d3fb6&quot;},&quot;pageId&quot;:&quot;9244676001&quot;,&quot;formInstanceId&quot;:&quot;34&quot;,&quot;urlParams&quot;:{&quot;hs_preview&quot;:&quot;XWwWRyeO-9244676001&quot;},&quot;formValidity&quot;:{&quot;type_of_project&quot;:{&quot;valid&quot;:true}},&quot;rawInlineMessage&quot;:&quot;Thanks for submitting the form.&quot;,&quot;hsFormKey&quot;:&quot;1cc385500f8c750e0edb4128fcbfe3b0&quot;,&quot;formTarget&quot;:&quot;#hs_form_target_form_875713578&quot;,&quot;correlationId&quot;:&quot;7e1d0e27-a6a3-44b6-97be-6d708a60fdd7&quot;,&quot;contentType&quot;:&quot;landing-page&quot;,&quot;hutk&quot;:&quot;895bad69eeb6622831782872707d3fb6&quot;,&quot;isHostedOnHubspot&quot;:true}" data-reactid=".hbspt-forms-0.7">
							<iframe name="target_iframe_33214205-4525-4ee2-aa2e-b4200164f584_34" style="display:none;" data-reactid=".hbspt-forms-0.8"></iframe>
							</form>
							</div>

							</span>
							</div>

							
			
			include ./includes/_footer.pug

		script(src='js/bundle.min.js')



