@font-face
	font-family: 'roboto_slabregular'
	src: url($assets + 'fonts/robotoslab-regular-webfont.woff2') format('woff2'), url($assets + 'fonts/robotoslab-regular-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'bio_sansbold'
	src: url($assets + 'fonts/bio_sans_bold-webfont.woff2') format('woff2'), url($assets + 'fonts/bio_sans_bold-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'bio_sansregular'
	src: url($assets + 'fonts/biosans-regular-webfont.woff2') format('woff2'), url($assets + 'fonts/biosans-regular-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'bio_sanssemibold'
	src: url($assets + 'fonts/biosans-semibold-webfont.woff2') format('woff2'), url($assets + 'fonts/biosans-semibold-webfont.woff') format('woff')
	font-weight: normal
	font-style: normal


