// Colors

$salmonLight: #ED6863
$semiWhite: #F7F7F7
$slate: #1B1B1B
$silver: #5C5C5C
$smoke: #E0E6ED
$white: #ffffff
$darkBlue: #1C213F
$blue: #313A87
$yellow: #F3B900
$salmon: #F45350
$creamSalmon: #F8E9E9

// UI Colors

$postive: #009F4B
$negative: #EB5252
$warning: #FFCC06

// Fonts

@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Open+Sans:400,600,700')

$openSansRglr: 'Open Sans', sans-serif
$latoRegular: 'Lato', sans-serif

$mainPaddingMobile: 64px 0
$mainPadding: 128px 0

$m-size: 1.6rem
$l-size: 3.2rem
$xl-size: 4.8rem


$base: 100%

//  Assets path
//$assets: 'assets/'  WP src

    
$assets: '/assets/'


@function get-value($n)
   @return $n / ($n * 0 + 1)



@mixin font-size($font-size) 
   $base-size: get-value($base / 100)
   $base-px-size: 16 * $base-size

   font-size: $font-size
   font-size: (get-value($font-size) / $base-px-size) + rem

@mixin line-height($font-size) 
   $base-size: get-value($base / 100)
   $base-px-size: 16 * $base-size

   line-height: $font-size
   line-height: (get-value($font-size) / $base-px-size) + rem
