.hero-contact
	background:
		image: url($assets + 'img/back.svg')
		position: center
		size: cover
		repeat: no-repeat
	margin-top: 50px
	.center-container
		padding: 0
		height: auto
		min-height: 250px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		.text-side
			text-align: center
			width: 100%
			padding: 60px 0
			h1
				max-width: 100%
				margin: 0 auto
				color: #ffffff
			p 
				margin: 0
				max-width: 90%
				color: #ffffff
				font-size: 16px
			.separator
				margin: 30px auto
				
			.cta-wrapper
				margin-top: 40px
			
@media screen and (min-width: 600px)

    .hero-contact
        .center-container
            .text-side
                text-align: center
                margin: 0
                padding: 60px 0
                .separator 
                    max-width: 150px
                p 
                    font-size: 18px
                    max-width: 650px
                    margin: 0 auto





.contact-section
    border-bottom: 1px solid $smoke
    padding: 50px 0
    padding-bottom: 20px
    .center-container
        width: 90%
        max-width: 620px
        .contact-content
            position: relative
            form
                display: flex
                align-items: center
                justify-content: center
                flex-flow: column
                width: 100%
                height: auto
                position: relative
                .left-form,.right-form
                    width: 100%
                .message
                    display: block
                    text-align: left !important
                    color: red
                
                .single-input
                    width: 100%;
                    margin-bottom: 30px
                    position: relative
                    input[type=text], input[type=tel], input[type=password], input[type=email], textarea, select
                        border: 1px solid $silver
                        width: 100%
                        &.half 
                            width: 48%
                    textarea
                        padding: 13px
                        min-height: 122px
                        margin: 0
                        outline: none
                        margin-bottom: -4px

                    button
                        width: 100%
                        height: 40px !important


        
@media screen and (min-width: 600px)
    .contact-section
        padding: 70px 0
        
        .center-container
            .contact-content
                
                form
                    display: flex
                    align-items: stretch
                    justify-content: center
                    flex-flow: row
                    .single-input
                        margin-bottom: 20px
                        button
                            height: 50px !important

                        &:last-of-type
                            margin-bottom: 0

                    .left-form, .right-form
                        padding: 0 10px
                        width: 50%

                    
                        
                        
