.tools-for-teams-overlayer
  background:
    image: url($assets + 'img/right-purplering.png')
    repeat: no-repeat
    position: right center

  content: ' '
  position: absolute
  right: 0
  top: 635px
  height: 435px
  width: 174px
  z-index: 500

.tools-for-teams
  & > .content
    width: 100%
  
  & .header
    margin-bottom: 5rem

    & p
      font-size: 1.35rem
      width: 80%
      margin: 0

  & .body
    & ul
      padding: 0

      & li
        display: flex
        margin-bottom: 5rem
        width: 80%

        & .title
          flex: 1
        
        & .content
          flex: 2

          & p
            font-size: 1.2rem
