footer.cx
	
	.f-container

		.f-left

			a.f--logo(href='#0')
			
		.f-center

			p © 2019 Modus. All rights reserved

			a(href="#") Privacy Policy
			
		.f-right

			p 12655 West Jefferson Boulevard
			p Los Angeles, California, 90066

			a(href="#") +1 200 124 1365

			ul.rss-links

				li
					a.facebook(href="#")

				li
					a.twitter(href="#")

				li
					a.github(href="#")

				li
					a.linkedin(href="#")

				li
					a.instagram(href="#")