header.cx--header

	.wrap-mobile-item

		a.header--logo(href='#0')
			
		.h-right

			a(href="#") +1 200 124 1365

			ul.rss-links

				li
					a.facebook(href="#")

				li
					a.twitter(href="#")

				li
					a.github(href="#")

				li
					a.linkedin(href="#")

				li
					a.instagram(href="#")

	