main
	width: 100%
	height: auto
	overflow-x: hidden !important
	
.content-block
	height: auto
	width: 100%
	position: relative
	overflow: hidden
	display: flex
	align-items: center
	justify-content: center
	padding: 0 16px
	margin: 0 auto
	.center-container
		width: 100%
		max-width: 2000px
		position: relative
		margin: 0 auto
		z-index: 100
		text-align: center
		
@media screen and (min-width: 600px)
	.content-block
		padding: 0 60px

@media screen and (min-width: 1200px)
	.content-block
		padding: 0 60px
    

